# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Kamal Sacranie
	email = kamalsjunkmail@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[core]
	excludesFile = /Users/kamalsacranie/.config/git/.gitignore_global
