[submodule "vim"]
	path = vim
	url = git@github.com:kamalsacranie/vim-config.git
[submodule "ranger"]
	path = ranger
	url = git@github.com:kamalsacranie/ranger-config.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:kamalsacranie/zsh-config.git
