[submodule "ranger"]
	path = ranger
	url = https://github.com/kamalsacranie/ranger-config.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/kamalsacranie/zsh-config.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/kamalsacranie/nvim-config
